@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --background: 162 100% 33%; /* green, #00a775 */
    /* --foreground: 0 0% 100%; /* white */
    --background: 32 87% 94%; /* light orange, #fdf1e2 */
    --foreground: 12 87% 54%; /* orange, #f04c25 */

    --card: 0 0% 100%; /* white */
    --card-foreground: 220 2% 35%; /* gray, #57595b */

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    /* --primary: 162 100% 33%; /* green, #00a775 */
    /* --primary-foreground: 0 0% 100%; /* white */
    --primary: 0 0% 100%; /* white */
    --primary-foreground: 220 2% 35%; /* gray, #57595b */

    --secondary: 32 87% 94%; /* light orange, #fdf1e2 */
    --secondary-foreground: 12 87% 54%; /* orange, #f04c25 */

    --muted: 157 35% 64%; /* light green, #81c3aa # */
    --muted-foreground: 0 0% 100%; /* white */

    --accent: 162 100% 33%; /* green, #00a775 */
    --accent-foreground: 0 0% 100%; /* white */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .green {
    --background: 100 58% 90%; /* light green */
    --foreground: 115 28% 26%; /* dark green */

    --primary: 100 58% 90%; /* light green */
    --primary-foreground: 115 28% 26%; /* dark green */

    --secondary: 115 28% 26%; /* dark green */
    --secondary-foreground: 100 58% 90%; /* light green */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
